* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "myfont";
    src: url("JosefinSans-Regular.ttf");

    
  }
  @font-face {
    font-family: "myfont2";
    src: url("GreatVibes-Regular-webfont.ttf");
  }
  :root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: #742296;
    --menu-speed: 0.75s;
  }
  
  body {

    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
    
  }

  html{
    overflow-x: hidden;
  }
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
    color:#742296;
    height: 100vh;
    position: relative;
  }
  
  .showcase:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase h1 {
    font-size: 4rem;
  }
  
  .showcase p {
    font-size: 1.3rem;
  }
  
  .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #742296;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div:before {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .menu-wrap .menu > div:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: -150vw;
    right: -150vw;
    background: var(--overlay-color);
    border-radius: 50%;
    width: 433vw;
    height: 401vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.9s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    background: white;
    padding-left: 100px;
    padding-right: 100px; 
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  
  .in{
    text-shadow: 0px 3px 0px #cbc7c7;
    font-family: "myfont2",GreatVibes;
    
  }
  


.navbar {
    font-family: "myfont",JosefinSans;
    /* src: url("JosefinSans-Regular.ttf"); */
    margin-left: 100px;
    margin-right: 90px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  a {
    font-family: "myfont",JosefinSans;
    text-decoration: none;
    font-size: 27px;
    margin-left: 35px;
    font-weight: 900;
    color: #0c0c0c;
  }
  .dance{
    margin: 0;
  }
  .fa-regular, .far {
    font-size: 19px;
    font-weight: 400;
}
  .logi{
    
    position: relative;
    right: 50px;
  }
  .loge{
    position: relative;
    left: -95px;
  }
  

  .help{
    color:  #742296;
  }
  .dn{
    font-family: "myfont",JosefinSans;
    position: relative;
    left: -40px;
    padding-top: 30px;
    color: #742296;
  }
  .ds{
    padding: 15px;
  }
.ls{
    text-decoration: underline;
}
  .hp{
    font-family: "myfont",JosefinSans;
    position: relative;
    left: -40px;
    padding-top: 5px;
  }
  .col-md-3 {

    justify-content: space-evenly;
    display: flex;
    margin: 10px;
}
.Discover{
    font-family: "myfont",JosefinSans;
    background-color: #742296;
    color: white;
    padding: 14px;
    font-size: 20px;
    position: relative;
    left: -80px;
}
.session{
    font-family: "myfont",JosefinSans;
    background-color: white;
    border: 5px solid #742296;
     padding: 10px;
    font-size: 20px;
    position: relative;
    left: -90px;
}
h4{
    font-family: "myfont",JosefinSans;   
}
.zozo{
    margin-left: 60px;  
}
h4{
    font-size: 25px;
    font-weight: bold;
margin-left: 15px;
    margin-bottom: 10px;
}
.inside{
    padding-top: 47px;
}
.itext{
    margin-left: 60px;
}
.team{
    font-family: "myfont",JosefinSans;
    font-size: 20px;
    margin-left: 60px;
}
.col-md-6{
    display: flex;
    margin-left: 40px;
}
.anashe
   {

    padding: 3px;
    margin-top: 88px;
    width: 200px;
    height: 454px; 
    object-fit: cover; 
  }
  .panashe {

    margin-bottom: 71px;
    padding: 3px;
    width: 200px;
    height: 454px;
    object-fit: cover;
}
 .nashe{

    margin-top: 88px;
    padding: 3px;
    width: 200px;
    height: 454px; 
    object-fit: cover;
  }
  .ashe{
    
    padding: 3px;
    margin-bottom: 71px;
        width: 200px;
        height: 454px;
        object-fit: cover;
    
  }
  h1{
    font-family: "myfont",JosefinSans;
    font-size: 40px;
    margin-left: 85px;
    font-weight: bold;
    position: relative;
    right: 66px;
    padding-top: 120px;
    font: 47px;
  }
  .dope{
    font-family: "myfont",JosefinSans;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  .pec{
    width: 250px;
}
.pac{
    height: 250px;

}
.pic{
    position: relative;
    top: -200px;
    left: 250px;
    width: 250px;
}

.pics{
    margin-left: 60px;
}
.ABOUT{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
        margin: 10px;
        display: flex;

}
.ns{
    WIDTH: 450PX;
}
.sn{
    position: relative;
    top: -220px;
    left: 200px;
}
.ane{
    position: relative;
        top: -29px;
    
}
 .fa-youtube {
    color: #db2316;
    position: relative;
    top: -230px;
    left: 150px;
}
.about1 {
    margin-left: 99px;
}
.last{
    border: none;
    margin-left: 3px;
}
.ane{
    font-family: "myfont",JosefinSans;
    font-size: 20px;
}
button{
    background-color: #742296;
    color: white;
    padding: 10px;
}
.Services {
    margin-left: 100px;
    display: flex;
}
.link{
    font-family: "myfont",JosefinSans;
   margin-left: 10px;
 }
 .media{
    margin-left: 10px;
 }
    hr{
        width: 59px;
        margin: 0;
    }

    h5{
        margin-left: 60px;
        font-family: "myfont",JosefinSans;
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .app{
        width: 10%;
        position: relative;
        top: -10px;
        left: 315px;
    }
    .med{
        position: relative;
        top: 350px;
        left: 300px;
        width: 50px;
        height: 50px; 
    }
    h2{
        color: white;
        position: relative;
        top: 402px; 
        left: 95px;
    }
    .vant{
        position: relative;
        top: 350px;
        left: 300px;
        width: 50px;
        height: 50px; 
    }
    .Abot{
        display: flex;
        
    }
    .dp{
        position: relative;
        top: -23px;
        font-size: 20px;
        
    
    }
    .tf{
        
        padding: 10px;
        font-size: 20px;
        font-weight: bold;   
    }
    .co{
        padding: 10px;
        margin: 0;
        font-size: 20px;
        font-weight: bold; 
    }
    
    .are{
        font-size: 20px;
    }
    .pd{
        position: relative;
        top: -23px;
        padding: 10px;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        
    }
    .po{
        position: relative;
        top: -23px;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        
    }
    .pin {
        object-fit: contain;
        width: 80%;
        height: 60%;
        margin-left: 82px;
    }
    .pen {
        position: relative;
        top: -23px;
        object-fit: contain;
        width: 80%;
        height: 55%;
    }
    .pica{
        margin-left: 90px;
    }
    .pice{
        margin-left: 90px;
        margin-top: 47px;
    }
    .flash{
        margin-top: 76px;
        margin-left: 60px;
        font-family: "myfont",JosefinSans;
        font-size: 26px;
    }
    .As{
        text-align: center;
        
 
    }
    .tic {
        padding-right: 10px;
        object-fit: cover;
        width: 136px;
        height: 329px;
    }
    .tan{
        padding-right: 10px;
        object-fit: cover;
        position: relative;
        top: 60px;
        width: 136px;
        height: 329px;
    }
    .tac{
        padding-right: 10px;
        object-fit: cover;
        position: relative;
        top: 60px;
        width: 136px;
        height: 329px;
    }
    .tal{
        padding-right: 10px;
        object-fit: cover;
        position: relative;
        top: 60px;
        width: 136px;
        height: 329px;
    }
    .toc{
        padding-right: 10px;
        object-fit: cover;
        width: 136px;
        height: 329px;
    }
    .tok{
        padding-right: 10px;
        object-fit: cover;
        width: 136px;
        height: 329px;
    }
    .cut{
        padding-top: 131px;
        align-items: center;
        text-align: center;
    }
    .insta{
        text-shadow: 0px 3px 0px #cbc7c7;
    }
    h3{
        text-shadow: 0px 3px 0px #cbc7c7;
        margin-bottom: 15px;
        font-weight: bold;
        font-family: "myfont",JosefinSans;  
    }
    
    .reflex{
        border: none;
        margin-bottom: 45px;
        position: relative;
        left: 3px;
    }
    .footer{

        color: white;
        display: flex;
        background-color: #742296;
        background-position: cover;
        height: 300px;
        width: 100%;
    }
    .logi {
        width: 79%;
        height: 24%;
        padding-left: 65px;
    }
    .icon{
        margin-top: 39px;
        padding-left: 77px;
    }
    .icons{
        padding: 30px;
    }
    .story{
        margin-left: 20px;
        padding: 45px;
    }
    .here{
        padding: 45px;
    }
    .Get{
        margin-left: 20px;
        padding: 45px;
    }
    .messi{
        padding-top: 13px;
        font-size: 27px;
    margin: 0;
        padding: 0px;
        text-decoration: underline;
    }
    .our{
        font-size: 20px;
        padding: 5px;
    }
    .are{
        margin-left: 80px;
        font-family: "myfont",JosefinSans;
    }
    .co{
        margin-left: 80px;
        font-family: "myfont",JosefinSans;
    }
    .tf{
        margin-left: 80px;
        font-family: "myfont",JosefinSans;
    }
    .pd{
        font-family: "myfont",JosefinSans;
    }
    .po{
        font-family: "myfont",JosefinSans;
    }
    .pd{
        font-family: "myfont",JosefinSans;
    }
    .fa-brands fa-facebook-f fa-fade{
        width: 50%;
    }
    .fa-brands, .fab {
        font-weight: 400;
        font-size: 40px;
        padding: 10px
    }
    .copy{
        margin-top: 15px;
        margin-left: 10px;
    }
    


    @media(max-width:375.667px){
        .anashe {
            display: none;
            padding: 3px;
            margin-top: 88px;
            width: 200px;
            height: 454px;
            object-fit: cover;
        }
        .col-md-6 {
            /* display: flex; */
            margin-left: 40px;
        }   
        .col-md-6 {
            /* display: flex; */
            margin-left: 40px;
            flex-wrap: wrap;
        }
        h1 {
            text-align: center;
            font-family: "myfont", JosefinSans;
            font-size: 20px;
            margin-left: 85px;
            font-weight: bold;
            /* position: relative; */
            /* right: 66px; */
            padding-top: 0px;
            
        }
        .dope {
            text-align: center;
            font-family: "myfont", JosefinSans;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-left: 20px;
            font-size: 15px;
        }
        
    
        .zozo {
            margin-left: 46px;
        }
        .Discover {
            font-family: "myfont", JosefinSans;
            background-color: #742296;
            color: white;
            padding: 14px;
            font-size: 10px;
            /* position: relative; */
            /* left: -80px; */
        }
        .session {
            font-family: "myfont", JosefinSans;
            background-color: white;
            border: 5px solid #742296;
            padding: 10px;
            font-size: 10px;
            position: relative;
            left: -90px;
        }
        .nashe {
            margin-top: 0px;
            padding: 3px;
            width: 131px;
            height: 314px;
            object-fit: cover;
        }
        .panashe {
            margin-bottom: 71px;
            padding: 3px;
            width: 131px;
            height: 314px;
            object-fit: cover;
        }
        .ashe {
            display: none;
            padding: 3px;
            margin-bottom: 71px;
            width: 200px;
            height: 454px;
            object-fit: cover;
        }
        a {
            font-family: "myfont", JosefinSans;
            text-decoration: none;
            font-size: 18px;
            margin-left: 35px;
            font-weight: 900;
            color: #0c0c0c;
        }
        .itext {
            margin-left: -39px;
        }
        .pec {
            width: 94px;
        }
        .pic {
            position: relative;
            top: 0px;
            left: -4px;
            width: 94px;
        }
        h4 {
            font-size: 20px;
            font-weight: bold;
            margin-left: 15px;
            margin-bottom: 10px;
        }
        .team {
            font-family: "myfont", JosefinSans;
            font-size: 10px;
            margin-left: 35px;
        }
        .ABOUT {
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 100px;
            margin: 10px;
            /* display: flex; */
            flex-wrap: wrap;
        }
    
        .ane {
            font-family: "myfont", JosefinSans;
            font-size: 10px;
        }
        .ane {
            position: relative;
            top: -15px;
            left: -73px;
        }
        .inside {
            padding-top: 23px;
        }
        
        .fa-youtube {
            color: #db2316;
            position: relative;
            top: -116px;
            left: -10px;
        }
        .ns {
            WIDTH: 183PX;
            position: relative;
            left: -75px;
        }
        .last {
            border: none;
            margin-left: 0px;
            position: relative;
            left: -28px;
        }
        h5 {
            margin-left: 25px;
            font-family: "myfont", JosefinSans;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .Services {
            flex-wrap: wrap;
            margin-left: 52px;
            /* display: flex; */
        }
        .Events{
            width: 116px;
        }
        .Event {
            padding: 10px;
            width: 67%;
            height: 105%;
        }
        ul {
            display: none;
            margin-top: 0;
            margin-bottom: 1rem;
        }
        .fa-solid, .fas {
            font-size: 9px;
            position: relative;
            font-weight: 900;
            top: 82px;
            left: -17px;
        }
        .pin {
            object-fit: contain;
            width: 80%;
            height: 60%;
            /* margin-left: 82px; */
        }
        .pice {
            margin-left: 0px;
            margin-top: 0px;
        }
        .are {
            margin-left: 40px;
            font-family: "myfont", JosefinSans;
        }
        .co {

            font-family: "myfont", JosefinSans;
        }
        .co {
            padding: 0px;
            margin-left: 40px;
            font-size: 20px;
            font-weight: bold;
        }
        .tf {
            margin-left: 32px;
            font-family: "myfont", JosefinSans;
        }
        .are {
            font-size: 10px;
        }
        .pin {
        
            margin-left: 40px;
        }
        .pica {
            margin-left: 40px;
        }
        .flash {
            margin-top: 49px;
            margin-left: 33px;
            font-family: "myfont", JosefinSans;
            font-size: 20px;
        }
        .Abot {
            flex-wrap: wrap;
            display: flex;
        }
        .pen {
            position: relative;
            top: 25px;
            object-fit: contain;
            width: 80%;
            height: 55%;
        }
        .pd {
            position: relative;
            top: 25px;
            padding: 10px;
            margin: 0;
            font-size: 20px;
            font-weight: bold;
        }
        .po {
            position: relative;
            top: 25px;
            padding: 0px;
            font-weight: bold;
            font-size: 20px;
        }
        .dp {
            position: relative;
            top: 25px;
            font-size: 20px;
        }
        .insta {
            padding: 0;
            margin-top: 100px;
            text-shadow: 0px 3px 0px #cbc7c7;
        }
        .footer {
            color: white;
            display: flex;
            flex-wrap: wrap;
            background-color: #742296;
            background-position: cover;
            height: 300px;
            width: 100%;
        }
        .logi {
            object-fit: cover;
            width: 30%;
            height: 22%;
            padding-left: -15px;
        }
    

.logi {
    width: 30%;
    height: 22%;
    padding-left: 0px;
}
.logi {
    /* position: relative; */
    right: 50px;
}
.copy {
    position: relative;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 0px;
    top: -24px;
    left: 55px;
}
.fa-regular, .far {
    font-size: 10px;
    font-weight: 400;
}
.fa-brands, .fab {
    font-weight: 400;
    font-size: 23px;
    padding: 0px;
}
.icons {
    position: relative;
    padding: 0px;
    top: 125px;
    left: 122px;
}
.icon {
    margin-top: 10px;
    padding-left: 51px;
}
.messi {
    padding-top: 13px;
    font-size: 20px;
    margin: 0;
    padding: 0px;
    text-decoration: underline;
}
.our {
    margin: 0;
    font-size: 10px;
    padding: 0px;
}
.story {
    position: relative;
    margin-left: 20px;
    padding: 5px;
    top: -53px;
}
.here {
    padding: 5px;
}
.here {
    position: relative;
    padding: 5px;
    top: -52px;
    left: 54px;
}
.Get {
    position: relative;
    margin-left: 30px;
    padding: 0px;
    left: -5px;
    top: -34px;
}
.toc {
    display: none;
    padding-right: 10px;
    object-fit: cover;
    width: 136px;
    height: 329px;
}
.tac {
    display: none;
    padding-right: 10px;
    object-fit: cover;
    position: relative;
    top: 60px;
    width: 136px;
    height: 329px;
}
.dp {
    position: relative;
    top: 25px;
    font-size: 12px;
}
.fa-solid, .fas {
    font-size: 9px;
    position: relative;
    font-weight: 900;
    top: 0px;
    left: 0px;
}


    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .col-md-6 {
            flex-wrap: wrap;
            display: flex;
            margin-left: 40px;
        }
        h1 {
            text-align: center;
            font-family: "myfont", JosefinSans;
            font-size: 29px;
            margin-left: 85px;
            font-weight: bold;
            position: relative;
            right: -111px;
            padding-top: 22px;
            font: 47px;
        }
        .dope {
            text-align: center;
            font-family: "myfont", JosefinSans;
            /* padding-top: 10px; */
            padding-bottom: 20px;
            margin-left: -47px;
            font-size: 20px;
            position: relative;
            left: 145px;
        }
        .session {
            font-family: "myfont", JosefinSans;
            background-color: white;
            border: 5px solid #742296;
            padding: 10px;
            font-size: 9px;
            position: relative;
            left: 122px;
        }
        .Discover {
            font-family: "myfont", JosefinSans;
            background-color: #742296;
            color: white;
            padding: 14px;
            font-size: 10px;
            position: relative;
            left: 122px;
        }
        .dn {
            font-family: "myfont", JosefinSans;
            position: relative;
            left: 241px;
            padding-top: 30px;
            color: #742296;
        }
        .hp {
            font-family: "myfont", JosefinSans;
            position: relative;
            left: -72px;
            top: -54px;
            padding-top: 5px;
        }
        .ashe {
            padding: 3px;
            margin-bottom: 71px;
            width: 164px;
            height: 372px;
            object-fit: cover;
        }
        .anashe {
            padding: 3px;
            margin-top: 88px;
            width: 164px;
            height: 372px;
            object-fit: cover;
        }
        .panashe {
            margin-bottom: 71px;
            padding: 3px;
            width: 164px;
            height: 372px;
            object-fit: cover;
        }
        .nashe {
            margin-top: 88px;
            padding: 3px;
            width: 164px;
            height: 372px;
            object-fit: cover;
        }
        .ABOUT {
            flex-wrap: wrap;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 100px;
            margin: 10px;
            display: flex;
        }
        .pic {
            position: relative;
            top: -1px;
            left: 0px;
            width: 250px;
        }
        .ane {
            position: relative;
            top: 2px;
        }
        .ns {
            WIDTH: 524PX;
        }
        .fa-youtube {
            color: #db2316;
            position: relative;
            top: -272px;
            left: 202px;
        }
    }